server:
  port: 8001
spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/qiuzhangming/spring-cloud-config/
          search-paths: config-repo
          username:
          password:
      label: master
  rabbitmq:
    host: rabbitmq.zzwtt.cn

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka/   ## 注册中心eurka地址

